body{
  background:#000000;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;

}
#container{
  margin-top: 10%;
  display: inline-block;
}
canvas{
  background: #FFFFFF;
  border: 1px solid #181818;

}
